VITE_API_URL=https://eco-basket-backend.onrender.com
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id_here
VITE_UPI_ID=merchant@paytm
VITE_UPI_NAME=Eco Basket
VITE_UPI_NOTE=Order Payment
VITE_UPI_QR_IMAGE=WhatsApp Image 2026-03-15 at 09.13.58
